:root{
    --verdePrincipal: #198754;
    --negroPrincipal: #212934;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.menu {
    background-color: var(--negroPrincipal);
    width: 20%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.tituloMenu {
    margin: 20px auto;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.divBotonesMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
}

.btnsMenu {
    font-size:25px;
    width: 15vw;
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--verdePrincipal);
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btnsMenu:hover {
    background-color: white;
    color: var(--verdePrincipal);
    transition-duration: 0.3s;
}

.mostrar {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 20%;
    gap: 20px;
}