@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .row {
    page-break-inside: avoid; /* Evita que las filas se corten entre páginas */
  }
}

:root {
  --primary-color: #fff; /* Valor por defecto */
  --secondary-color: #212529; /* Valor por defecto */
  --accent-color: #212529; /* Valor por defecto */
  --button-color: #212529; /* Valor por defecto */
  --title-size: 15px; /* Valor por defecto */
  --subtitle-size: 12px; /* Valor por defecto */
  --paragraph-size: 12px; /* Valor por defecto */
}

body {
  background-color: var(--primary-color);
}

.bgdivPrimary {
  background-color: var(--primary-color);
}

.form-group input {
  color: var(--accent-color) !important;
  background-color: var(--primary-color);
}

.bgdivSecondary {
  background-color: var(--secondary-color);
}

.tableActions thead {
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
}

span,
a,
b,
h1,
h2,
h3,
h4,
h5,
label,
li {
  color: var(--accent-color);
}

h1,
h2,
h3 {
  font-size: var(--title-size);
}

h4,
h5 {
  font-size: var(--subtitle-size);
}

span,
p,
b {
  font-size: var(--paragraph-size) !important;
}

.text-white {
  color: var(--primary-color) !important;
}

#templatemo_main_nav a {
  color: var(--accent-color) !important;
}

table {
  color: var(--accent-color) !important;
}

select,
textarea {
  background-color: var(--button-color) !important;
  color: var(--accent-color) !important;
}

.bgbuttonPalette {
  background-color: var(--button-color) !important;
  color: var(--primary-color) !important;
}

.draggable {
  cursor: move;
}
#square {
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
}

.tangramDiv {
  width: 500px;
  height: 500px;
  position: relative;
}

.block {
  position: absolute;
  width: 100px;
  height: 100px;
}

#triangle1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 50px;
  border-color: transparent transparent var(--secondary-color) transparent;
}

#triangle2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 0 120px 120px;
  border-color: transparent transparent transparent var(--accent-color);
}

#triangle3 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: var(--button-color) transparent transparent transparent;
}

#triangle4 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 120px 120px;
  border-color: transparent transparent #d63294 transparent;
}

#triangle5 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 50px 0;
  border-color: transparent #69dcf0 transparent transparent;
}

#person1 {
  fill: var(--primary-color);
}

#person2 {
  fill: var(--secondary-color);
}

#person3 {
  fill: var(--button-color);
}

#person4 {
  fill: var(--accent-color);
}
